[user]
	name = Trond Flisnes Bergh
	email = trondbn@sqhead.com
[push]
	default = simple
[core]
	excludesfile = /Users/trondbn/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = opendiff
[lfs "customtransfer.bitbucket-media-api"]
	path = /Users/trondbn/bin/git-lfs-bitbucket-media-api
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[merge]
	tool = opendiff
[pull]
	ff = only
[commit]
        template = /Users/trondbn/.stCommitMsg
[filter "jupyternotebook"]
        clean = jupyter nbconvert --to=notebook --ClearOutputPreprocessor.enabled=True --stdout %f
        smudge = cat
        required
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

